<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
		<title>BURGERS!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
	</head>
           
	<body>
		<img src="https://icon-library.com/images/hamburger-icon-png/hamburger-icon-png-7.jpg">
		{{{ body }}}
	</body>
</html>